<!doctype html>
<html>
<head>
    <title>Bobs Burgers Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <h3>Favorites</h3>
            <ul class="characters">
              <% for(let i=0; i<favorites.length; i++) {%>
                <li class="character">
                  <img class="cPics" src="<%= characters[i].image %>">
                  <span><%= favorites[i].name %></span>
                  <span><i class="fa fa-trash-o" aria-hidden="true"></i></span> 
                </li>
              <% } %>
              </ul>
            </div>
          </div>
        <div class="col-sm-6">
          <h3>Characters</h3>
          <ul class="characters">
          <% for(let i=0; i<characters.length; i++) {%>
            <li class="character">
              <img class="cPics" src="<%= characters[i].image %>">
              <span><%= characters[i].name %></span>
              <span><i class="fa fa-heart" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
